#include <dt-bindings/zmk/matrix_transform.h> // 🟢 これが解読に必要な辞書です！

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &default_layout;
    };

    // 🔌 ボタンとスイッチの物理ピン配置定義
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;

        input-gpios
            = <&xiao_d 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // ボタン1 (D0)
            , <&xiao_d 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // ボタン2 (D1)
            , <&xiao_d 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // ボタン3 (D2)
            , <&xiao_d 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // ボタン4 (D3)
            , <&xiao_d 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // ボタン5 (D4)
            , <&xiao_d 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // ボタン6 (D5)
            , <&xiao_d 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 🛑 省エネスイッチ (D8)
            ;
    };

    // 骨組みの定義
    default_layout: layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        kscan = &kscan0;
        transform = &default_transform;
    };

    // ボタンの並び順の割り当てマップ
    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <7>;
        rows = <1>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5) RC(0,6)
        >;
    };
};
